.container {

    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #000;
    text-align: center;
}